article{
    position: relative;
}
.b-featured-image-container{
    width: 100%;
}
.b-article-panel{
    @include b_panel;
    padding: $jumbotron-padding;
    margin-top: 15px;

    @media (max-width: $screen-sm) {
        padding: $panel-body-padding;
    }
}
