:focus {
	outline: none;
}
.b-container-big-padding {
	padding-left: $jumbotron-padding;
	padding-right: $jumbotron-padding;
	@media (max-width: $screen-xs) {
		padding-left: 0;
		padding-right: 0;
	}
}
.b-main-content {
	position: relative;
	width: 100%;
}
.b-content-fullwidth {

}
.b-content-with-sidebar {
	padding-top: $jumbotron-padding;
	padding-right: $sidebar-width + $jumbotron-padding;
	article {
		width: 100%;
		max-width: $container-desktop;
		margin: 0 auto;
		@media (max-width: $screen-lg) {
			max-width: none;
		}
	}
	@media (max-width: $screen-lg) {
		padding-right: 0;
	}
}
.b-content-no-sidebar {

}
.b-sidebar-container {
	width: $sidebar-width;
	margin: 0 auto;
	padding-top: $jumbotron-padding;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	@media (max-width: $screen-xs) {
		width: 100%;
	}
	@media (max-width: $screen-lg) {
		position: relative;
		padding-top: 0;
	}
}
