//vars
$width: 200px;
$navbar-side-height: 50px;
$duration: 300ms;

:focus {
	outline: none;
}


.side-body {
	padding-left: $width + $grid-gutter-width;
	padding-right: $grid-gutter-width;
}
.site-content{
	margin: 0 auto;
	padding-top: $grid-gutter-width;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: 1050px;
	}
}


@media (max-width: 768px) {
	@keyframes slidein {
		0% { left: -$width; }
		100% { left: 10px; }
	}

	@keyframes slideout  {
		0% { left: 0; }
		100% { left: -$width; }
	}

	@keyframes bodyslidein  {
		0% { left: 0; }
		100% { left: $width; }
	}

	@keyframes bodyslideout  {
		0% { left: $width; }
		100% { left: 0; }
	}

	.side-body {
		margin-top: 70px;
		position: relative;
		animation: bodyslideout $duration forwards;
		transform-style: preserve-3d;
	}
	.body-slide-in {
		animation: bodyslidein $duration forwards;
		transform-style: preserve-3d;
	}
	.navbar-toggle {
		border: 0;
		float: left;
		padding: 18px;
		margin: 0;
		border-radius: 0;
	}
	.navbar-fixed-top-mobile {
		position: fixed;
		z-index: 1031;
	}

	.side-menu-container > .navbar-nav.slide-in {
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	#search .panel-body .navbar-form {
		border-bottom: 0;
		.form-group {
			margin: 0;
		}
	}
	#dropdown .panel-body .navbar-nav {
		margin: 0;
	}
}
