//== Social Icon Strip
//
.b-social-icon-strip{
    transform:scale(0.8);
    transition-duration: 0.2s;
    &:hover{
        transform:scale(1.1);
    }
    &.fb:hover {
        color: #3B5998;
    }
    &.tw:hover {
        color: #4099FF;
    }
    &.gp:hover {
        color: #d34836;
    }
    &.em:hover {
        color: #f39c12;
    }
    &.gh:hover {
        color: $brand-info;
    }
}
