//vars
$width: 200px;
$duration: 300ms;

:focus {
	outline: none;
}
.side-menu {
	position: fixed;
	width: $width;
	height: 100%;
	.navbar {
		border: none;
		margin-bottom: 0;
	}
	.navbar-header {
		width: 100%;
	}
	.navbar-nav {
		li {
			display: block;
			width: 100%;
			a {
				padding: 8px;
				.glyphicon {
					padding-right: 10px;
				}
			}
		}
		.active a {
			background-color: lighten($navbar-inverse-bg, 10%);
			border-right: 5px solid $brand-primary;
		}
	}
	#dropdown {
		border: 0;
		margin-bottom: 0;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		background-color: transparent;
		//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: none;
		.caret {
			float: right;
			margin: 9px 5px 0;
		}
		.indicator {
			float: right;
		}
		.panel-body {
			padding: 0;
			background-color: darken($navbar-inverse-bg, 5%);
			.navbar-nav {
				width: 100%;
				li {
					a{
						padding-left: 15px;
					}
					&:last-child {
						border-bottom: none;
					}
				}
			}
			.panel-body {
				margin-left: -15px;
				background-color: darken($navbar-inverse-bg, 10%);
				li {
					padding-left: 30px;
				}
			}
			.panel > a {
				margin-left: -20px;
				padding-left: 35px;
			}
		}
		> a {
			//border-bottom: 1px solid $color_mercury_approx;
		}
	}
	#search-trigger {
		background-color: $navbar-inverse-bg;
		border: 0;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 0;
		position: absolute;
		top: 0;
		right: 0;
		padding: 15px 18px;
	}
	.brand-name-wrapper {
		min-height: 50px;
		.navbar-brand {
			display: block;
		}
	}
	#search {
		position: relative;
		z-index: 1000;
		.panel-body {
			padding: 0;
			.navbar-form {
				padding: 0;
				padding-right: 50px;
				width: 100%;
				margin: 0;
				position: relative;
				border-top: 1px solid $navbar-inverse-bg;
				.form-group {
					width: 100%;
					position: relative;
				}
				input {
					border: 0;
					//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
					border-radius: 0;
					//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
					box-shadow: none;
					width: 100%;
					height: 50px;
				}
				.btn {
					position: absolute;
					right: 0;
					top: 0;
					border: 0;
					//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
					border-radius: 0;
					padding: 15px 18px;
				}
			}
		}
	}
}
.side-body {
	margin-left: $width;
}
@media (max-width: 768px) {
	.side-menu {
		position: relative;
		width: 100%;
		height: 0;
		border-right: 0;
		.brand-name-wrapper .navbar-brand {
			display: inline-block;
		}
	}
	@include keyframes("slidein") {
		0% { left: -$width; }
		100% { left: 10px; }
	}

	@include keyframes(slideout) {
		0% { left: 0; }
		100% { left: -$width; }
	}

	@include keyframes(bodyslidein) {
		0% { left: 0; }
		100% { left: $width; }
	}

	@include keyframes(bodyslideout) {
		0% { left: $width; }
		100% { left: 0; }
	}

	.side-body {
		margin-left: 5px;
		margin-top: 70px;
		position: relative;
		@include animation(bodyslideout $duration forwards);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.body-slide-in {
		@include animation(bodyslidein $duration forwards);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.navbar-toggle {
		border: 0;
		float: left;
		padding: 18px;
		margin: 0;
		border-radius: 0;
	}
	.navbar-fixed-top-mobile {
		position: fixed;
		z-index: 1031;
	}

	.side-menu-container > .navbar-nav.slide-in {
		@include animation(slidein $duration forwards);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.side-menu-container > .navbar-nav {
		position: fixed;
		left: -$width;
		width: $width;
		top: 42px;
		height: 100%;
		background-color: $navbar-inverse-bg;
		@include animation(slideout $duration forwards);
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	#search .panel-body .navbar-form {
		border-bottom: 0;
		.form-group {
			margin: 0;
		}
	}
	#dropdown .panel-body .navbar-nav {
		margin: 0;
	}
}
