@import "../lib/sass-css3-mixins/css3-mixins.scss";

.view{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    img{
        display: block;
        position: relative;
        @include transition(all, .2s, ease-in);
    }
}
.view:hover{
    img{
        @include transform(rotate(-7deg) scale(1.5));
    }
}
