<!-- Footer
================================================== -->

<footer class="container-fluid b-footer">
    <div class="row h-gutter">
        <div class="col-lg-2 col-md-4 col-sm-4">
            {{= it.include("footer/links") }}
        </div>
        <div class="col-lg-3 col-md-8 col-sm-8">
            {{= it.include("footer/newsletter") }}
        </div>
        <div class="col-lg-3 col-md-4 col-sm-4">
            {{= it.include("footer/hireme") }}
        </div>
        <div class="col-lg-4 col-md-8 col-sm-8">
            {{= it.include("footer/advertise") }}
        </div>
    </div>
    {{= it.include("footer/copyright") }}
</footer>
