<!-- Side Menu -->
        <div class="side-menu">
            <div class="logo-side-menu hidden-xs">
                <a class="b-brand" href="#">
                    <img src="images/logo.jpg"/>
                </a>
            </div>

            <!-- Profile picture -->
            <div class="profile-picture-container">
                <img src="images/profile_picture.jpg"/>
            </div>

            <!-- Main Menu -->
            <nav>
                <ul class="nav">

                    <li class="active"><a href="./index.html">Home</a></li>
                    <li><a href="./typography.html">Typography</a></li>
                    <li><a href="./miscellaneous.html">Miscellaneous</a></li>

                    <!-- Dropdown-->
                    <li class="panel" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl1">
                            Blog Templates <span class="caret"></span>
                        </a>

                        <!-- Dropdown level 1 -->
                        <div id="dropdown-lvl1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul class="nav navbar-nav">
                                    <li><a href="./blog-single.html">Blog Single</a></li>

                                    <!-- Dropdown level 2 -->
                                    <li class="panel" id="dropdown">
                                        <a data-toggle="collapse" href="#dropdown-lvl2">
                                            Blog Masonary <span class="caret"></span>
                                        </a>
                                        <div id="dropdown-lvl2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul class="nav navbar-nav">
                                                    <li><a href="./blog-masonary-vertical.html">Blog Masonary Vertical</a></li>
                                                    <li><a href="./blog-masonary-horizontal.html">Blog Masonary Horizontal</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                    <li><a href="./404.html">404</a></li>
                    <li><a href="http://scotch.io" target="_blank">Link</a></li>
                </ul>
            </nav>
        </div>
