<section class="b-masonry">
    {{ for(var i=0; i < 3; i++) { }}
        <article class="b-panel item">
            <div class="view">
                <img src="images/700x400.jpg" />
                <div class="view-overlay">
                    <a href="#"><span class="glyphicon glyphicon-link"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-eye-open"></span></a>
                </div>
            </div>
            <div class="b-panel-body">
                <span class="b-panel-time">3. Velj · Blog</span>
                <h2 class="b-panel-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h2>
            </div>
            <div class="b-panel-footer">
                <span class="b-panel-autor-img">
                    <a href="#">
                        <img src="./images/avatar.jpg" alt="" class="img-circle" width="50" height="50">
                    </a>
                </span>
                <span class="b-panel-tags">
                    <a href="#">juice</a>,
                    <a href="#">freebies</a>,
                    <a href="#">drink</a>
                </span>
            </div>
        </article>
        <article class="b-panel item">
            <div class="view">
                <img src="images/700x400.jpg" />
            </div>
            <div class="b-panel-body">
                <span class="b-panel-time">3. Velj · Blog</span>
                <h2 class="b-panel-title"><a href="#">Sed ne, dum huic obsequor, vobis molestus sim.</a></h2>
            </div>
            <div class="b-panel-footer">
                <span class="b-panel-autor-img">
                    <a href="#">
                        <img src="./images/avatar.jpg" alt="" class="img-circle" width="50" height="50">
                    </a>
                </span>
                <span class="b-panel-tags">
                    <a href="#">juice</a>,
                    <a href="#">freebies</a>,
                    <a href="#">drink</a>
                </span>
            </div>
        </article>
        <article class="b-panel item">
            <div class="view">
                <img src="images/700x400.jpg" />
            </div>
            <div class="b-panel-body">
                <span class="b-panel-time">3. Velj · Blog</span>
                <h2 class="b-panel-title"><a href="#">Quis Aristidem non mortuum diligit?</a></h2>
            </div>
            <div class="b-panel-footer">
                <span class="b-panel-autor-img">
                    <a href="#">
                        <img src="./images/avatar.jpg" alt="" class="img-circle" width="50" height="50">
                    </a>
                </span>
                <span class="b-panel-tags">
                    <a href="#">juice</a>,
                    <a href="#">freebies</a>,
                    <a href="#">drink</a>
                </span>
            </div>
        </article>
    {{ } }}
</section>
