{{ for(var i=0; i < 3; i++) { }}
<div class="b-panel">
    <div class="row">
        <div class="col-md-7">
            <a href="#">
                <img class="img-responsive" src="images/700x400.jpg" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Project One</h3>
            <h4>Subheading</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            <a class="btn btn-primary" href="#">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>
{{ } }}
