<article>
    <div class="b-featured-image-container">
        <img src="./images/1200x500.jpg" alt="" class="img-responsive" />
        <div class="b-profile-pic">
            <div class="b-profile-border">
                <img src="images/profile_picture.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="b-article-content">
        <div class="b-article-panel">
            <h1>Hi, I'm <span class="text-primary">Ivica Batinić!</span></h1>
        </div>
    </div>
</article>
