article{
    position: relative;
    .b-article-content {
        h1,
        h2,
        h3,
        p {
            margin-top: 0;
            margin-bottom: 40px;
            @media (max-width: $screen-xs) {
                margin-bottom: $modal-inner-padding;
            }
        }
        h2 {
            font-size: 32px;
        }
        pre{
            margin-left: -70px;
            margin-right: -70px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 40px 80px;
            border: 0;
            border-radius: 0;
            width: auto;
            @media (max-width: $screen-xs) {
                margin-left: -$modal-inner-padding;
                margin-right: -$modal-inner-padding;
                padding: 40px 40px;
            }
        }
        .b-article-by{
            color: $b-panel-tags-text;
            margin-bottom: 40px;
            a{
                color: $b-panel-tags-text;
                &:hover{
                    text-decoration: none;
                }
            }
            .b-article-by-item,
            .b-panel-autor-img{
                margin-right: 10px;
                img{
                    margin-right: $padding-base-vertical;
                }
                .glyphicon {
                    margin-right: $thumbnail-padding;
                }
            }
            @media (max-width: $screen-xs) {
                margin-bottom: $modal-inner-padding;
            }
        }
    }
    .b-article-panel{
        @include b_panel;
        padding: 50px 70px;

        @media (max-width: $screen-xs) {
            padding: $modal-inner-padding;
        }
    }
}
.b-featured-image-container{
    width: 100%;
}
