.b-masonary {
    column-count: 3;
    column-gap: $grid-gutter-width;
    .item {
        display: inline-block;
        box-sizing: border-box;
        margin: 0 0 $grid-gutter-width;
        width: 100%;
        transform: translateZ(0);
        -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
    }
    @media (max-width: $screen-md) {
        column-count: 2;
	}
    @media (max-width: $screen-xs) {
        column-count: 1;
	}
}
