.b-search-bar{
    background: darken($body-bg, 10%);
    input[type="search"]{
        width: 100%;
        border: none;
        height: 78px;
        background: transparent;
    }
}

#search{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
	transition: all 0.5s ease-in-out;
	transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    &.open {
    	transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
    }
    input[type="search"] {
        position: absolute;
        top: 50%;
        width: 100%;
        color: $btn-default-color;
        background: rgba(0, 0, 0, 0);
        font-size: 60px;
        font-weight: 300;
        text-align: center;
        border: 0px;
        margin: 0px auto;
        margin-top: -51px;
        padding-left: 30px;
        padding-right: 30px;
        outline: none;
    }
    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: 61px;
        margin-left: -45px;
    }
    .close {
        position: fixed;
        top: 15px;
        right: 15px;
        color: $btn-default-color;
    	background-color: $brand-primary;
    	opacity: 1;
    	padding: 8px 17px 12px;
    	font-size: 27px;
    }
}
